@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Russo+One');

body {
  margin: 1em;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
}

#header, #footer {
  display: block;
  min-height: 20%;
  text-align: center;
}

#main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  flex-direction: row
}

#header,
#footer,
#main {
  padding: 2em;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#left {
  border: 1px black dotted;
  width: 100%;
  min-height: 400px;
  display: none;
}

#right {
  border: 1px black dotted;
  width: 100%;
  min-height: 400px;
  display: none;
}

#question {
  height: 10%;
  margin-left: 2%;
  margin-right: 2%;
  border: 1px black dotted;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 8%;
  font-size: 2em;
  background: #d4e2f9;
}

#q1,
#q2,
#q3,
#q4 {
  height: 10%;
  margin-left: 2%;
  margin-right: 2%;
  border: 1px black dotted;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.5em;
  background: #b5d1ff;
}

#q1:hover,
#q2:hover,
#q3:hover,
#q4:hover {
  background: #93b5ed;
}

/*#timerwrap {
  height: 95%;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  text-align: center;
  font-size: 4em;
}*/

#timer,
#result {
  height: 90%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

#timer {
  font-size: 16em;
  font-family: 'Russo One', sans-serif;
}
#result {
  font-size: 2em;
}

#start {
  font-family: 'Russo One', sans-serif
  font-size: 1.5em;
  font-weight: 600;
  background: #93b5ed;

}

#playagain {
  font-family: 'Russo One', sans-serif
  font-size: 1.5em;
  font-weight: 600;
  background: #93b5ed;
  margin-top: 5%;
}

#gameresults {

}
